.logo {
    height:  1.6rem;
    vertical-align: middle;
}
.logo.clickable {
    cursor: pointer;
}
.body {
    background-color: white;
    color: greenyellow;
    margin: 0px;
    font-family: 'Fredoka', sans-serif;
}
.main {
    margin: 20px;
}
.navbar ul{
    list-style-type: none;
    background-color: greenyellow;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: rgb(98, 146, 26);
}
.navbar li {
    float: left;
}
@media (prefers-color-scheme: dark) {
    .body { background-color: rgb(120, 178, 32); color: #eee; }
}