.logo {
    height:  1.6rem;
    vertical-align: middle;
}
.logo:hover {
    cursor: pointer;
}
.body {
    background-color: white;
    color: greenyellow;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main {
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar ul{
    list-style-type: none;
    background-color: greenyellow;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar2 ul{
    list-style-type: none;
    background-color: greenyellow;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar2 a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar a:hover {
    background-color: rgb(98, 146, 26);
}
.navbar li {
    float: left;
}
.navbar2 a:hover {
    background-color: rgb(98, 146, 26);
}
.navbar2 li {
    float: left;
}
@media (prefers-color-scheme: dark) {
    .body { background-color: rgb(120, 178, 32); color: #eee; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
}